<div class="container p">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{section.settings.title}}</h1>
        <p class="fs-5 text-body-secondary">{{section.settings.Description}}</p>
    </div>
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for block in section.blocks %}
            {% assign description_list = block.settings.tier_description | split: ", " %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{block.settings.tier_name}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{block.settings.tier_price}}<small
                                class="text-body-secondary fw-light">/{{block.settings.tier_date}}</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for item in description_list %}
                            <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                        <a href="{{block.settings.tier_button_link}}"
                            class="w-100 btn btn-lg {% if block.settings.tier_button_style == " outline" %}
                            btn-outline-primary {% else %} btn-primary {% endif
                            %}">{{block.settings.tier_button_text}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2 class="display-6 text-center mb-4">Compare plans</h2>

        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Public</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Private</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Permissions</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sharing</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Unlimited members</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Extra security</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

{% schema %}
{
"name": "Pricing",
"tag": "section",
"class": "section-pricing",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Pricing"
},
{
"type": "textarea",
"id": "Description",
"label": "Section Description",
"default": "Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's
built with default Bootstap components and utilities with little customization."
}
],
"blocks": [
{
"type": "tier",
"name": "Tier",
"limit": 4,
"settings": [
{
"id": "tier_name",
"type": "text",
"label": "Tier Name",
"default": "Free"
},
{
"id": "tier_price",
"type": "text",
"label": "Tier Price",
"default": "0"
},
{
"id": "tier_date",
"type": "select",
"label": "Tier Date",
"options": [
{
"value": "dy",
"label": "Daily"
},
{
"value": "mo",
"label": "Monthly"
},
{
"value": "yr",
"label": "Yearly"
}
],
"default": "mo"
},
{
"id": "tier_description",
"type": "textarea",
"label": "Tier Description",
"default": "10 users included, 2 GB of storage, Email Support, Help center access",
"placeholder": "example a, example b, example c"
},
{
"id": "tier_button_style",
"type": "select",
"label": "Button Style",
"options": [
{
"value": "outline",
"label": "Outline"
},
{
"value": "filled",
"label": "Filled"
}
],
"default": "outline"
},
{
"id": "tier_button_text",
"type": "text",
"label": "Button Text",
"default": "Sign Up"
},
{
"id": "tier_button_link",
"type": "text",
"label": "Tier Link URL",
"default": "#"
}
]
}
]
}
{% endschema %}